<!--<div class="col-md-6 col-sm-6 col-lg-6">-->
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading">-->
              	<!--<div class="row">-->
                    <!--<div class="col-md-10 col-sm-10 col-lg-10">Product Review</div>-->
                    <!--<div class="col-md-2 col-sm-2 col-lg-2 text-right"><span class="glyphicon glyphicon-cog"></span></div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="panel-body">-->
                <!--<div class="row">-->
                  <!--<div ID="PMSPdr" class="col-md-12 col-sm-12 col-lg-12">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->