<header class="row">
        <div class="col-md-5 col-sm-5 col-lg-5 header-left-section">
          <ul class="nav navbar-nav list-inline">
           <li><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></li>
           <li><img src="/images/pms-logo.png" width="170" height="35"></li>
           <li><strong><span class="header-title">PMS Dashboard</span></strong></li>
          </ul>

        </div>
        <div class="col-md-7 col-sm-7 col-lg-7 header-right-section">
          <ul class="nav navbar-nav navbar-right list-inline">
           <li>{{headerVm.datetime}}</li>
           <li><img src="/images/line.png"></li>
           <li><img src="/images/online-status.png"> {{headerVm.systemstatus}}</li>
           <li><img src="/images/line.png"></li>
           <li>{{headerVm.pharmacist}}</li>
           <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{headerVm.username}}</li>
           <li><img src="/images/checklist.png" width="30" height="30"></li>
          </ul>
        </div>
</header>
