<div class="col-md-3 col-sm-3 col-lg-3">
            <div class="panel panel-default">
              <div class="panel-heading">
              	<div class="row">
                    <div class="col-md-10 col-sm-10 col-lg-10">Clinical Services</div>
                    <div class="col-md-2 col-sm-2 col-lg-2 text-right"><span class="glyphicon glyphicon-cog"></span></div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12">
              	     <canvas id="cs-canvas" width="200" height="200"></canvas>
                  </div>
                </div>
                <div class="row lgnd-container">
                  <div class="col-md-6 col-sm-6 col-lg-6 text-left">
                        <span class="ex-small-txt">{{pmsClinicalServicesVm.pie1Label}}</span><br>
                        <img src="images/dnut-lgnd-left.png">
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-6 text-right">
                    <span class="ex-small-txt">{{pmsClinicalServicesVm.pie2Label}}</span><br>
                    <img src="images/dnut-lgnd-right.png">
                  </div>
                </div>
              </div>
            </div>
          </div>